*{
    font-family: consolas;
}
body{
    margin: 0;
    padding: 0;
    background: #031321;
}

h1{
    margin-top: 20%;
    margin-left: 35%;
    justify-content: center;
    align-items: center;
    min-height: 100hv;
    position: relative;
    display: inline-block;    
    color: #2196f3;
    text-transform: uppercase;
    line-height: 100px;
    letter-spacing: 3px;
    cursor: pointer;
    text-decoration: none;
    font-size: 100px;
    overflow: hidden;
    transition: 0.2s;
}

h1:hover{
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 1s;
}

h1 span{
    position: absolute;
    display: block;
}

h1 span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent, #2196f3);
}

h1:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}

h1 span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent, #2196f3);
}

h1:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

h1 span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent, #2196f3);
}

h1:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

h1 span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent, #2196f3);
}

h1:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}


#keybinds{
    
    position: absolute;
    list-style: none;    
    background-color: #031321;
       
}

/* individual buttons */
#boom{
    margin-left: 700%;
    margin-right: 0;
    margin-bottom: 100%;
    margin-top: -450%;    
    width : 5.4vw;
    height: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    padding: 5px 10px;
        
    cursor: pointer;
    outline: none;
    color: yellow;
    background-color: #0c2f61;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 9px gold;
    
}

#clap{
    margin-left: 870%;
    margin-right: 0;
    margin-bottom: 100%;
    margin-top: -120%;    
    width : 5.4vw;
    height: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    padding: 5px 10px;
        
    cursor: pointer;
    outline: none;
    color: yellow;
    background-color: #0c2f61;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 9px gold;
    
}

#hi-hat{
    margin-left: 1000%;
    margin-right: 0;
    margin-bottom: 100%;
    margin-top: -70%;    
    width : 5.4vw;
    height: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    padding: 5px 10px;
        
    cursor: pointer;
    outline: none;
    color: yellow;
    background-color: #0c2f61;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 9px gold;
    
}

#tom{
    margin-left: 525%;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: -230%;    
    width : 5.4vw;
    height: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    padding: 5px 10px;
        
    cursor: pointer;
    outline: none;
    color: yellow;
    background-color: #0c2f61;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 9px gold;
    
}

#tink{
    margin-left: 380%;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: -295%;    
    width : 5.4vw;
    height: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    padding: 5px 10px;
        
    cursor: pointer;
    outline: none;
    color: yellow;
    background-color: #0c2f61;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 9px gold;
    
}

#kick{
    margin-left: 950%;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 5%;    
    width : 5.4vw;
    height: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    padding: 5px 10px;
        
    cursor: pointer;
    outline: none;
    color: yellow;
    background-color: #0c2f61;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 9px gold;
    
}

#snare{
    margin-left: 450%;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: -190%;    
    width : 5.4vw;
    height: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    padding: 5px 10px;
        
    cursor: pointer;
    outline: none;
    color: yellow;
    background-color: #0c2f61;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 9px gold;
    
}

#open-hat{
    margin-left: 800%;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;    
    width : 5.4vw;
    height: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    padding: 5px 10px;
        
    cursor: pointer;
    outline: none;
    color: yellow;
    background-color: #0c2f61;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 9px gold;
    
}

#ride{
    margin-left: 600%;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: -96%;    
    width : 5.4vw;
    height: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    padding: 5px 10px;
        
    cursor: pointer;
    outline: none;
    color: yellow;
    background-color: #0c2f61;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 9px gold;
    
}

.h2{
    font-size: 100px;
}

.p{
    font-size: 10px;
}

/* this is where the animations for the buttons */
#boom:hover{
    color: #2196f3;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}
#boom:active{
    box-shadow: 0 0 0 5px gold;
    transform: translateY(4px);
}

#clap:hover{
    color: #2196f3;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}
#clap:active{
    box-shadow: 0 0 0 5px gold;
    transform: translateY(4px);
}

#hi-hat:hover{
    color: #2196f3;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}
#hi-hat:active{
    box-shadow: 0 0 0 5px gold;
    transform: translateY(4px);
}

#tom:hover{
    color: #2196f3;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}
#tom:active{
    box-shadow: 0 0 0 5px gold;
    transform: translateY(4px);
}

#tink:hover{
    color: #2196f3;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}
#tink:active{
    box-shadow: 0 0 0 5px gold;
    transform: translateY(4px);
}

#kick:hover{
    color: #2196f3;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}
#kick:active{
    box-shadow: 0 0 0 5px gold;
    transform: translateY(4px);
}

#snare:hover{
    color: #2196f3;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}
#snare:active{
    box-shadow: 0 0 0 5px gold;
    transform: translateY(4px);
}

#ride:hover{
    color: #2196f3;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}
#ride:active{
    box-shadow: 0 0 0 5px gold;
    transform: translateY(4px);
}

#open-hat:hover{
    color: #2196f3;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}
#open-hat:active{
    box-shadow: 0 0 0 5px gold;
    transform: translateY(4px);
}

footer{
    margin-top: -3%;
    margin-left: 45%;
    cursor: pointer;
    color: green;
}

footer a:hover{
    color: gold;
    
}

/* this is for activating through JS instead of clicking the button */
.activate{
    box-shadow: 0 0 0 5px pink;
    transform: translateY(4px);
}

@media all and (max-width: 1200px) {
    body {
        width: 100%;
        padding: 0;
        margin: 0;
    }
}

@media all and (max-width: 500px) {
    body {
        width: 50%;
        padding: 50px;
        margin: 0;
        font-size: 14px;
    }
    #keybinds{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        bottom: 50%;
        top: -50%;
        left: 100px;
        width: 0;
        height: 350px;          
        position: relative;
        list-style: none;
        background-color: #031321;           
    }    
        
}
